@col1: 100%;
@col2: 50%;
@col3: 33.33%;
@col4: 25%;
@col5: 20%;
@col6: 16.66%;
@col7: 14.28%;
@col8: 12.5%;

@media (min-width: 2880px){
	 .grid-responsive {
        letter-spacing: -0.8em;
    }
	 .grid-fluid {
        letter-spacing: -0.8em;
    }
}
@media (min-width: 769px) and (max-width: 2880px){
    .grid-responsive {
        letter-spacing: -0.5em;
    }
}
@media (max-width: 2880px){
    .grid-fluid {
        letter-spacing: -0.5em;
    }
}
@media (min-width: 769px) {
	.col-r {
		display: inline-block;
        letter-spacing: normal;
	}
	.col-1 {
		width: @col1;
	}
	.col-2 {
		width: @col2;
	}
	.col-3 {
		width: @col3;
	}
	.col-4 {
		width: @col4;
	}
	.col-5 {
		width: @col5;
	}
	.col-6 {
		width: @col6;
	}
	.col-7 {
		width: @col7;
	}
	.col-8 {
		width: @col8;
	}
    .offset-1 {
		margin-left: @col1;
	}
	.offset-2 {
		margin-left: @col2;
	}
	.offset-3 {
		margin-left: @col3;
	}
	.offset-4 {
		margin-left: @col4;
	}
	.offset-5 {
		margin-left: @col5;
	}
	.offset-6 {
		margin-left: @col6;
	}
	.offset-7 {
		margin-left: @col7;
	}
	.offset-8 {
		margin-left: @col8;
	}
}

// 7in tablets and phones.
@media (max-width: 768px) {
    .col-r {
        display: block;
		width: 100%;
	}
}

html {
	padding: 0;
	font-size: 100%;
	width: 100%;
}

body {
	padding: 0;
}

.grid-responsive {
    width: 100%;
	padding: 0;
	display: block;
}

.grid-fluid {
    width: 100%;
	padding: 0;
	display: block;
}

.col-r {
	margin: auto;
	padding: 0;
}

.col-f {
    display: inline-block;
    letter-spacing: normal;
	margin: auto;
	padding: 0;
}
