<!doctype html>
<!--
   Copyright (c) 2012, the Dart project authors.  Please see the AUTHORS file
   for details. All rights reserved. Use of this source code is governed by a
   BSD-style license that can be found in the LICENSE file.
-->
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <script type="application/javascript" src="testing.js"></script>
</head>
<body>
  <element name="x-foo" extends="span">
    <template>{{myAttribute}}</template>
    <script type="application/dart">
    import 'package:web_ui/web_ui.dart';
    class Foo extends WebComponent {
      String myAttribute = "1";
    }
    </script>
  </element>
  Expect "1 2 3 4":
  <x-foo></x-foo>
  <span is="x-foo" my-attribute="2"></span>
  <x-foo my-attribute="3"></x-foo>
  <x-foo my-attribute="{{'4'}}"></x-foo>
  <script type="application/dart">
    import 'dart:html';
    main() {
      window.setTimeout(() => window.postMessage('done', '*'), 0);
    }
  </script>
</body>
</html>
