<!doctype html>
<!--
   Copyright (c) 2012, the Dart project authors.  Please see the AUTHORS file
   for details. All rights reserved. Use of this source code is governed by a
   BSD-style license that can be found in the LICENSE file.
-->
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>dom_accessor_binding_test</title>
  <script type="application/javascript" src="testing.js"></script>
</head>
<body>
  <input type="checkbox" checked="{{boolVar}}">
  <script type="application/dart">
    import 'dart:html';
    import 'package:web_ui/watcher.dart';
    bool boolVar = false;
    main() {
      window.onLoad.listen((e) {
        var input = query('input');
        document.body.appendText('expected input.checked to be false, got '
                                 '${input.checked}');
        boolVar = true;
        dispatch();
        document.body.appendText('expected input.checked to be true, got '
                                 '${input.checked}');
        window.setTimeout(() => window.postMessage('done', '*'), 0);
      });
    }
  </script>
</body>
</html>
