<!DOCTYPE html>
<!--
Copyright (c) 2012, the Dart project authors.  Please see the AUTHORS file
for details. All rights reserved. Use of this source code is governed by a
BSD-style license that can be found in the LICENSE file.
-->
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <script type="application/javascript" src="testing.js"></script>
</head>
<body>
  <!-- Tests that you can inject any URL using SafeUri. -->
  Expect 1 console message: "m2", there should be no message for m1, m3, m4
  <a href="{{m1}}"></a>
  <a href="{{m2}}"></a>
  <a href="javascript:{{m3}}"></a>
  <a href="javascript:{{m4}}"></a>
  <script type="application/dart">
  import 'dart:html';
  import 'package:web_ui/safe_html.dart';

  var m1 = 'javascript:window.console.log("m1")';
  var m2 = new SafeUri.unsafe('javascript:window.console.log("m2")');
  var m3 = 'window.console.log("m3")';
  var m4 = new SafeUri.unsafe('window.console.log("m4")');
  var html = new SafeHtml.unsafe('<span>hello</span>');
  main() {
    window.setTimeout(() {
      document.queryAll('a').forEach((tag) {
        tag.dispatchEvent(new MouseEvent('click', detail: 1));
      });

      window.setTimeout(() => window.postMessage('done', '*'), 0);
    }, 0);
  }
  </script>
</body>
</html>
