<!doctype html>
<!--
Copyright (c) 2012, the Dart project authors.  Please see the AUTHORS file
for details. All rights reserved. Use of this source code is governed by a
BSD-style license that can be found in the LICENSE file.
-->
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>data_style_binding_test</title>
  <script type='application/javascript' src="testing.js"></script>
</head>
<body>
  <p id="test" style="{{styles}}">This text should be 24px monospace</p>
  <script type="application/dart">
    import 'dart:html';
    import 'package:web_ui/web_ui.dart';
    import 'package:unittest/unittest.dart';

    // Note: use const maps to ensure that the system doesn't mutate the map.
    // (this would cause a runtime error).
    var styles = const { 'font-size': '16px' };
    main() {
      window.setTimeout(() {
        expect(query('#test').style.cssText, 'font-size: 16px;');
        var oldStyles = styles;

        styles = "Intentionally invalid style!";
        expect(dispatch, throwsA(predicate((x) => x is DataBindingError)));
        window.setTimeout(() {
          // Our invalid style was ignored.
          expect(query('#test').style.cssText, '');

          styles = const { 'font-size': '24px', 'font-family': 'monospace' };
          dispatch();
          window.setTimeout(() {
            // This is also verified through the render tree.
            expect(query('#test').style.cssText,
                'font-size: 24px; font-family: monospace;');
            window.postMessage('done', '*');
          }, 0);
        }, 0);
      }, 0);
    }
  </script>
</body>
</html>
