<!DOCTYPE html>
<!--
Copyright (c) 2012, the Dart project authors.  Please see the AUTHORS file
for details. All rights reserved. Use of this source code is governed by a
BSD-style license that can be found in the LICENSE file.
-->
<html lang="en">
<head>
<!--
 This test runs the TodoMVC app, adds a few todos, marks some as done
 programatically, and clicks on a checkbox to mark others via the UI.
 -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <link rel="components" href="example/todomvc/router_options.html">
  <link rel="components" href="example/todomvc/todo_row.html">
  <link rel="stylesheet" href="example/todomvc/base.css">
  <script type="application/javascript" src="testing.js"></script>
  <title>dart - TodoMVC</title>
</head>
<body>
  <section id="todoapp">
    <header id="header">
      <h1 class='title'>todos</h1>
      <form on-submit="addTodo($event)">
        <input id="new-todo" placeholder="What needs to be done?" autofocus
               on-change="addTodo($event)">
      </form>
    </header>
    <section id="main">
      <input id="toggle-all" type="checkbox" bind-checked="app.allChecked">
      <label for="toggle-all"></label>
      <ul id="todo-list">
        <template iterate="x in app.todos">
          <template if="viewModel.isVisible(x)">
            <x-todo-row todo="{{x}}"></x-todo-row>
          </template>
        </template>
      </ul>
    </section>
    <template if="app.todos.length > 0">
      <footer id="footer">
        <span id="todo-count"><strong>{{app.remaining}}</strong></span>
        <x-router-options id="filters">
          <li> <a href="#/">All</a> </li>
          <li> <a href="#/active">Active</a> </li>
          <li> <a href="#/completed">Completed</a> </li>
        </x-router-options>
        <template if="app.doneCount > 0">
          <button id="clear-completed" on-click="app.clearDone()">
            Clear completed ({{app.doneCount}})
          </button>
        </template>
      </footer>
    </template>
  </section>
  <footer id="info">
    <p>Double-click to edit a todo.</p>
    <p>Credits: the <a href="http://www.dartlang.org">Dart</a> team.</p>
    <p>
      Learn more about
      <a href="https://www.dartlang.org/articles/dart-web-components/">Dart + Web Components</a>
      or
      <a href="https://github.com/dart-lang/web-ui/tree/master/example/todomvc">view the source</a>.
    </p>
    <p>Part of <a href="http://todomvc.com">TodoMVC</a>.</p>
  </footer>
  <script type="application/dart">
import 'dart:html';
import 'package:unittest/unittest.dart';
import 'package:web_ui/web_ui.dart';
import 'example/todomvc/main.dart' as todomvc_main;
import 'example/todomvc/model.dart';

final addTodo = todomvc_main.addTodo;

main() {
  todomvc_main.main();

  window.setTimeout(() {
    useShadowDom = false;
    app.todos.add(new Todo('one (unchecked)'));
    app.todos.add(new Todo('two (unchecked)'));
    app.todos.add(new Todo('three (checked)')..done = true);
    app.todos.add(new Todo('four (checked)'));
    dispatch();

    // To ensure we click in the correct place, we calculate x, y offset where
    // we want to click based on the coordinates given by DumpRenderTree, and
    // then adapt those offset in the current window. This makes is possible to
    // debug the application in Dartium reliably.

    var bounding = document.body.getBoundingClientRect();
    // The x, y location of body in the DumpRenderTree output was: (117, 130)
    // and location of the node we want to click was: (119, 398)
    int x = bounding.left.toInt() + (119 - 117);
    int y = bounding.top.toInt() + (398 - 130);
    var node = document.elementFromPoint(x, y);
    expect(node is InputElement, isTrue,
        reason: '$x, $y points to a checkbox');
    expect(node.checked, isFalse, reason: 'element is unchecked');
    Element parent = node.parent;
    expect(parent.query('label').text, equals('four (checked)'));
    node.dispatchEvent(new MouseEvent('click', detail: 1));
    expect(node.checked, isTrue, reason: 'element is checked');

    // Ideally the test above would work also with shadow DOM (pending that
    // 'elementFromPoint' is fixed to return also nodes under the shadow DOM).
    // The next extra check is only valid when polyfilling the shadow DOM:
    expect(node, same(document.queryAll('input[type=checkbox]')[4]));

    window.setTimeout(() => window.postMessage('done', '*'), 0);
  }, 0);
}
  </script>
</body>
</html>
